header{
    margin: auto;
    border: 1px solid white;
    color: orangered;
    width: 90%;
    height: 100px;
    text-align: center;
    font-family: "Sagoe UI";
    font-size: 60px;
}
#body{
    background-color :black ;
}
#main{
    margin: top;
    text-align: top;
    text-align: left;
    text-align: center;
font-size: 10px;
    color: white;
    font-family: "Sagoe UI";
}
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }
  
  .topnav .search-container {
    float: right;
  }
  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 20px;
    border: none;
  }
  
  .topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  .topnav .search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .search-container {
      float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      margin: auto;
      padding: 30px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;  
    }
    
  }
  #text{
    font-size:50px;

  }
  #title{
      color: bisque;
text-align: center;
  }
  #undermain{
    margin: auto;
    text-align: left;
    text-align: center;
font-size: 10px;
    color: white;
    font-family: "Sagoe UI";
  }
  #vwhref{
    margin: auto;
    text-align: left;
    text-align: center;
font-size: 10px;
    color: white;
    font-family: "Sagoe UI";   
  }
  #bot{
    margin: auto;
    text-align: left;
    text-align: center;
font-size: 10px;
    color: white;
    font-family: "Sagoe UI";
  }

  #copyright{
      column-span:40px ;
    color: aliceblue; 
    position: absolute; 
    bottom: -100; 
    left: 0; 
    width: 100%;
     text-align: center;
  }
